.header{
    background-color: #ffffff;
    text-align: centre ;
}
    body{
        background-image: url(image.jpg) ;
    background-size: cover;
    text-align: center ;
    }
    p{
        background-color: rgb(255, 255, 255);
        text-align: left ;
    }
    

.nav{
background-color: rgb(245, 243, 243);
color:rgb(0, 0, 0);
font-display: initial; 
justify-content:space-between;
align-items: center;
padding: 10px;
}
a{
    color: rgb(19, 15, 15);

}
    h1{
       background-size: 50px;
       background-color: rgb(248, 248, 248); 
       font-size: 40px;
       font-style: italic;
        margin: 30px;
    }
